<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>swiftNetTry.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C135B8151F77F45C00CEB10E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C135B82C1F77F45D00CEB10E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C135B8371F77F45D00CEB10E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
